
@{
    ViewBag.Title = "Index";
    var operName = ViewBag.OperName;
    var x = ViewBag.x;
    var y = ViewBag.y;
    var result = x + y;
}
<h2>Index</h2>

<div> <b>@operName</b> (@x, @y) = @(result)
    </div>

